* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

.flex {
    display: flex;
}

.white {
    color: white;
}

button {
    background-color: blue;
    padding: 5px 20px;
    border-radius: 10px;
    color: white;
    border: none;
}

textarea{
    resize: none;
    border: none;
}

.mb-20{
    margin-bottom: 20px;
}




/*  Nav  */
nav {
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #F0F0F0;
    height: 10vh;
}

#logo-img {
    max-width: 330px;
}

.nav-bar {
    gap: 25px;
}

.nav-bar img,
.i-container {
    width: 33px;
    height: 33px;
    opacity: 1;
    border-radius: 50%;
    line-height: 33px;
}

.i-container {
    background-color: blue;
    text-align: center;
}






/* Main */
main {
    gap: 3vw;
}


/* Section - 1 (Journey Board) */
.collapsed-jb {
    width: 8vw;
    height: 80vh;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: #4b4a4a 5px 5px 5px;
    background-color: white;
}

.collapsed-jb-arrow {
    background-color: black;
    border-top-right-radius: 20px;
    height: 10%;
    position: relative;
}

.fa-circle-arrow-right,.fa-circle-arrow-left {
    font-size: 30px;
    position: absolute;
    top: 30%;
    right: 5%;
}

.close-notification {
    width: 50%;
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    border: 2px solid blue;
    color: blue;
    border-radius: 10px;
    margin-left: 20%;
}

.expanded-jb{
    position: absolute;
    width: 400px;
    z-index: 10;
}
.margin-intact{
    margin-left: 11vw;
}
.open-notification{
    margin-top: 20px;
    margin-left: 50px;
    font-size: 16px;
    font-weight: 600;
}
.open-notification ul {
    margin-left: 30px;
    font-size: 15px;
    font-weight: 300
}





/* Section - 2 (About) */
.about {
    margin-top: 20px;
    width: 80vw;
}

.about-head {
    justify-content: space-between;
}

.about-head h1 {
    color: blue;
    font-family: Poppins;
    font-weight: 700;
    font-style: Bold;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 2%;

}

.about-info {
    margin-top: 40px;
    padding: 30px;
    background-color: #F0F0F0;
    border-radius: 10px;
    margin-bottom: 50px;
}

.about-info h3 {
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 2%;
    margin-bottom: 30px;
}

.about-info h4 {

    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 2%;
}

.cards {
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
}

.card {
    flex: 0 0 calc(45% - 15px);
    /* 2 cards */
    border-radius: 8px;
    box-shadow: #4b4a4a 2px 2px 2px,
    #4b4a4a -2px -2px 2px;
    height: 70vh;
    margin: auto;
    font-family: Open Sans;
    font-weight: 600;
    font-style: SemiBold;
    line-height: 100%;
    letter-spacing: 2%;}

.card-header  {
    position: relative;
}
.card-header i{
    position: absolute;
    top: 16%;
    right: 4%;
    font-size: 22px;
}
.card-header h2 {
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: black;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-style: SemiBold;
    font-size: 16px;
}

.fa-circle-info{
    top: 2%;
    right: 2%;
    color: aliceblue;
}


.descHold{
    padding: 20px 10px;
    border-bottom: 1px solid rgb(63, 61, 61);
}
.deskHold span {
    font-size: 16px;
}

.descHold h4 {
    font-weight: normal;
    font-size: 15px;
    display: inline;
}
.card iframe{
    width: 100%;
    height: 50%;
    border:none;
}
.thread-head{
    border-bottom: 1px solid rgb(89, 87, 87);
}
.thread-head span h2{
    padding: 10px 20px;
    display: inline-block;
}

.thread-head span i{
    font-size: 20px;
}
.thread-cards-cont{
    gap: 20px;
    margin: 20px;
    justify-content: center;

}
.thread-card{
    height: 25%;
    border-radius: 10px;
    width: 44%;
     box-shadow: #4b4a4a 2px 2px 2px,
    #4b4a4a -2px -2px 2px;
}


.thread-card h3{
    color: rgb(23, 22, 22);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #F0F0F0;
    padding: 5px;
    font-size: 16px;
    font-weight: 300;
}


.thread-card textarea{
    width: calc(100%-10px);
    border: none;
    border-radius: 10px;
    color: #8a8989;
    padding: 10px;
    
}

.option-list{
    margin-left: 20%;
    margin-right: 40px;
    margin-top: 25px;
    align-items: center;
    justify-content: space-between;
}
.option-list-icon i{
    margin-right: 4px;
    font-size: 18px;
    line-height: 20px;
}
.dropdown-cont{
    font-size: 11px;
}
.dropdown-cont span{
    box-shadow: #828181 2px 2px 2px,
    #8a8989 -2px -2px 2px;
    padding:8px 4px ;
    margin-left: 10px;
    border-radius: 5px;
}
.thread-cont  button{
    margin-top: 35px;
    margin-left: 40px;
    padding: 10px 5px ;
}
.summary-cont{
    margin-top: 25px;
    margin-inline: 50px;
}

.sum-head {
    background-color: #F0F0F0;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.summary-cont textarea{
    width: 95%;
    padding: 10px;
    color: #8a8989;
}


.card-in-title,.card-in-content{
    margin: 30px;
}

.card-in-title textarea{
    box-shadow: #828181 2px 2px 2px,
    #8a8989 -2px -2px 2px;
    width: 100%;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
}

.card-in-content textarea{
    width: 100%;
    border: none;
    height: 100px;
}
.cont-list{
    margin-left: 10px;
    margin-top: 20px;
    gap: 8px;
    align-items: center;
    
}
.cont-list li{
    list-style: none;
    color: #828181;
}

.introduction-cont,.thread-cont-two{
    margin-inline: 20px;
    position: relative;
    height: 30%;
}

.example-cont{
    margin-left: 40px;
    margin-right: 20px;
}

.intro-head{
    background-color: #F0F0F0;
    padding-block: 10px;
    padding-left: 10px;
    border: 1px solid #a9a6a6;
}
.intro-desc{
    margin-top: 15px;
    padding-left: 10px;
    padding-bottom: 20px;
     font-weight: 300;
     font-size: 15px;
}
.see-more,.see-more-again{
    position: absolute;
    right: 2%;
    color: blue;
}

.thread-cont-two{
    position: relative;
}

.bg-white{
    background-color: white;
    border: 1px solid #a9a6a6;
}




/* Section - 3 (Notice-Board)*/
.notice-board {
    width: 6vw;
    height: calc(100vh-10vh);
    margin-top: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    flex-direction: column;
    justify-content: space-between;
}

.notice-board-top {
    box-shadow: #4b4a4a -5px 5px 5px;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.notice-board-cont {
    width: 50%;
    text-align: center;
    background-color: black;
    color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-bottom: 20px;
}

.notice-board-cont i {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.notice {
    width: fit-content;
    margin: auto;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    white-space: pre-line;
}

.place-holder {
    background-color: white;
    width: 50%;
}

/* Footer */

.footer {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-bottom: 30px;
}

.footer-icon-container {
    background-color: blue;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 100%;
}